.venv/
__pycache__/
*.egg-info/
*.pyc
*.pyo
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
runs/render/*.pdf
runs/render/*.aux
runs/render/*.log
runs/render/*.out
runs/render/*.fls
runs/render/*.fdb_latexmk
runs/render/*.synctex.gz
runs/render/*.toc
runs/tmp/