# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# DB
*.sqlite3
*.db

# Logs
*.log

# Tests
.coverage
htmlcov/

# Docker
*.pid


# Scripts shell (ne pas ignorer le dossier scripts lui-même)
scripts/*.bak
scripts/*.tmp

# Fichier de lock uv
uv.lock

# YAML de déploiement (optionnel, à versionner selon usage)
#deployment.*.yaml
#hpa.*.yaml

# Images Docker locales
api-service:latest
streamlit-frontend:latest
worker-service:latest
test-runner

# Secrets
.env.*
secrets.*

# modèles ML
src/core/utils/models/